body{
    box-sizing: border-box;
}
h2{
    margin-bottom: 30px;
}

h1{
    margin-bottom: 30px;
}

header{
    background-color: #A66A65;
    color: white;
    margin: 0;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1{
    margin: 0;
}

.btn{
    background-color: #A66A65;
    color: white;
}

ul{
    margin-bottom: 20px;
}

.cat{
    margin-bottom: 50px;
}

.error{
    padding-bottom: 20px;
}

.input-group{
    margin-top: 20px;
}