@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&display=swap');

body{
    box-sizing: border-box;
    margin: 0;
    font-family: "Open Sans";
}

.card-header{
    font-weight: bolder;
    color: #A66A65;
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.card-body input{
    margin-bottom: 15px;
    width: 100%;
    padding: 5px;
}

.btn-link{
    display: block;
    color: #A66A65;
    margin-top: 20px;
}

.btn-primary{
    background-color: #A66A65;
    padding: 5px 20px;
    color: white;
    font-size: 15px;
    margin-top: 10px;
}

.form-check{
    display: flex;
}

.form-check input{
   width: auto;
}





