@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&display=swap');

/* MAIN BLADE CSS */
html {
    scroll-behavior: smooth;
  }

body{
    font-family: 'Open Sans';
    background-color: #F2F2F2;
}

.container{
    max-width: 300px;
    margin: 0 auto;
}

.error{
    color:red;
}

/* MOBILE NAV */
  .logo{
    display: flex;
  }

  .logo a{
      text-decoration: none;
  }

  .logo h1{
      text-align: center;
        margin-top: 20px;
      font-size: 20px;
      color: #402A28;
  }

.topnav {
    overflow: hidden;
    background-color: #A66A65;
    position: relative;
    min-height: 13vh;
    padding: 0 25px;
  }
  
  .topnav #myLinks {
    display: none;
    text-align: center;
  }
  
  .topnav a {
    color: white;
    text-decoration: none;
    display: block;
  }

  #myLinks a{
      padding: 15px;
  }
  
  .topnav a.icon {
    color: white;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 22px 23px;
    font-size: 35px;
  }
  
  .topnav a:hover {
    color: #402A28;
  }
  
  .active {
    color: #402A28;
  }

  .mobilenav img{
    width: 60px;
  }

  /* DESKTOP NAV */

  .desktopnav{
      display:none;
  }

  /* FOOTER */

  footer{
    background-color: #A66A65;
    text-align: center;
    padding: 25px;
    color: white;
  }

  footer ul{
    list-style: none;
    padding: 0;
}

  footer i{
    color: white;
    border-radius: 5px;
    margin: 0px 10px;
    padding: 5px 10px;
  }

  footer i:hover{
    color: #402A28;
  }

  footer i, footer a{
    font-size: 30px;
  }

  /* BACK TO TOP BUTTON */

  #go-up{
	display: none;
  	position: fixed;
  	bottom: 20px;
  	right: 30px;
  	z-index: 99;
  	font-size: 18px;
  	border: none;
  	outline: none;
  	background-color: black;
  	color: white;
  	cursor: pointer;
  	padding: 13px;
  	border-radius: 4px;
}

#go-up:hover{
    background-color: grey;
}

    /* Landscape phone to portrait tablet */
    @media (min-width: 550px) { 
        .container{
            max-width: 550px;
        }

        .topnav #myLinks{
            text-align: left;
            margin-left: 46px;
        }

        footer{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 25px 100px;
        }
    }

    /* Portrait tablet to landscape and desktop */
    @media (min-width: 768px) { 
        .mobilenav{
            display: none;
        }

        .container{
            max-width: 600px;
        }

        .desktopnav{
            display: flex;
            background-color: #A66A65;
            justify-content: space-between;
            align-items: center;
            height: 18vh;
            padding: 0px 15px;
        }

        .desktopnav .logo img{
            width: 100px;
        }

        .desktopnav .logo{
           align-items: center;
           margin-left: 30px;
        }

        .desktopnav ul{
            list-style: none;
            padding: 0;
            margin-right: 30px;
        }

        .desktopnav ul li{
            display: inline;
            padding: 5px;
        }

        ul li a{
            text-decoration: none;
            color: white;
        }

        .desktopnav ul li a:hover{
            color: #402A28;
        }

        .desktopnav ul li a .active {
            color: #402A28;
          }
    }

    /* Large desktop */
    @media (min-width: 1200px) { 
        .container{
            max-width: 1000px;
        }

        body{
            font-size: 18px;
        }
    } 


    /* INDEX CSS */

    #header{
        background-image: url('../images/backgroundindex.jpg');
        height: 87vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    #header h1{
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 87vh;
        color: white;
        font-size: 40px;
        text-shadow: 2px 2px 8px black;
    }

    article{
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .corona{
        background-color: white;
        text-align: center;
        padding: 15px;
        border-radius: 15px;
    }

    .corona span{
        text-align: center;
        width: 100%;
        font-family: "DM Mono";
        font-size: 25px;
        color: #A66A65;
    }

    .corona p{
        text-align: left;
        line-height: 22px;
    }


    .actions{
        background-color: #402A28;
        text-align: center;
        padding: 50px;
    }

    .actions a{
        text-decoration: none;
        color: white;
    }

    .actions h2:hover{
       color: #A66A65;
    }

    .actions div:first-of-type{
        margin-bottom: 70px;
    }

    .actions img{
        width: 80px;
    }

    .partners img{
        height: 220px;
    }

    .partners h2{
        text-align: center;
    }

    .partners .mobile_partners{
        text-align: center;
        margin-bottom: 50px;
    }



        /* Landscape phone to portrait tablet */
        @media (min-width: 550px) { 
            .desktop_partners{
                display: flex;
                justify-content: center;
            }

            .mobile_partners{
              margin: 0px 30px;
            }

        }
    
        /* Portrait tablet to landscape and desktop */
        @media (min-width: 768px) { 
            #header{
                height: 82vh;
            }

            #header h1{
                height: 82vh;
            }

            .actions{
                display: flex;
                justify-content: center;
            }

            .actions div{
                margin: 0px 30px;
            }

            .actions div:first-of-type{
                margin: 0px 30px;
            }

            .actions img{
                width: 60px;
            }

            .actions h2{
                font-size: 18px;
            }

            .corona{
                max-width: 800px;
                margin: 0 auto;
                margin-top: 20px;
            }
            .partners img{
                height: 180px;
            }

        }
    
        /* Large desktop */
        @media (min-width: 1200px) { 
            .ipad_partners{
                display: flex;
            }

            .partners img{
                height: 180px;
            }

            .corona{
                max-width: 1100px;
            }


        } 



/* ADOPT BLADE CSS */
.adopt_header{
    background-image: url('../images/backgroundadopt.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

.adopt_header h2{
    margin: 0;
    text-shadow: 2px 2px 8px black;
    text-align: center;
    line-height: 40px;;
}

.cats ul{
    padding: 0;
    list-style: none;
    line-height: 25px;
}

.cats{
    margin: 0 auto;
    padding-top: 40px;
}

.img_cat{
    height: 300px;
    width: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cats .catinfo{
    margin-bottom: 100px;
}

.btn_adopt{
    background-color: #A66A65;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    
}

.btn_adopt:hover{
    background-color: #402A28;
}

/* Landscape phone to portrait tablet */
@media (min-width: 550px) { 
    .cats{
        width: 300px;
        margin: 0 auto;
    }

    .cat-info{
        width: 300px;
    }
}
            
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) { 
    .grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        grid-gap: 40px;
   
    }
    .cats{
        width: 600px;
    }


}
            
/* Large desktop */
@media (min-width: 1200px) { 
    
    .grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        grid-gap: 80px;
   
    }


} 


/* STEUN PAGINA */

.header_steun{
    text-align: center;
    line-height: 40px;
}

.header_steun span{
    margin-top: 20px;
    color: #A66A65;
}


.steun_ons{
    background-color: #402A28;
    padding: 30px 0;
    margin: 0;
}

.steun_ons div{
    background-color: white;
    width: 200px;
    height: 250px;
    border-radius: 15px;
    margin: 20px auto;
    padding: 30px;
    text-align: center;
}

.steun_ons span{
    color: #A66A65;
    font-size: 30px;
    font-weight: bolder;
}

.steun_ons p{
    font-size: 14px;
    line-height: 20px;
}

.steun_ons h3{
    color: #A66A65;
    line-height: 25px;
    margin-bottom: 25px;
}

.steun_ons h2{
    line-height: 30px;
}

.steun_ons a{
    text-decoration: none;
    color: #402A28;
}

.steun_ons a:hover{
    text-decoration: none;
    color: #A66A65;
}

.steun_ons a>p{
    margin-top: 3px;
}

.steun_ons article{
    margin: 0;
}

/* Landscape phone to portrait tablet */
@media (min-width: 550px) { 

}
            
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) { 
    .ipad_steun{
        display: flex;
       justify-content: center;

    }

    .ipad_steun div{
        margin: 30px 30px;
    }
}
            
/* Large desktop */
@media (min-width: 1200px) { 
    .desktop_steun{
        display: flex;
       justify-content: center;
    }
}


/* WERKING BLADE CSS */

.werking p{
    line-height: 23px;
}

.werking h2{
    color: #A66A65;
}


/* CONTACT BLADE CSS */

.contact-opties a{
    color: #A66A65;
}

.contact-opties a:hover{
    color: #402A28;
}

.contact-opties h3{
    font-size: 20px;
}

#formulier{
    background-color: white;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#formulier input, #formulier textarea{
    background-color: #F2F2F2;
    border: none;
    margin-bottom: 15px;
    width: 200px;
    border: 1px solid #F2F2F2;
}

#formulier input:hover, #formulier textarea:hover{
    background-color: transparent;
    border: 1px solid #F2F2F2;
}

#formulier label{
    margin-bottom: 10px;
    display: block;
    max-width: 200px;
}

#formulier #knop_verstuur{
    background-color: #A66A65;
    color: white;
    padding: 5px 0px;
}

#formulier #knop_verstuur:hover{
    background-color: #402A28;
}

#formulier .formulier_groep{
    margin: 0 auto;
    width: 200px;
}

#formulier h3{
    width: 200px;
}

.formulier_groep p{
    width: 200px;
}

.contact-opties div{
    display: flex;
    align-items: center;
}

.contact-opties div a{
    margin-left: 10px;
}

.contact-opties{
    margin-top: 30px;
}

/* Landscape phone to portrait tablet */
@media (min-width: 550px) { 
    #formulier input, #formulier textarea, #formulier .formulier_groep{
        width: 400px;
    }
}
            
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) { 

}
            
/* Large desktop */
@media (min-width: 1200px) { 
    #formulier input, #formulier textarea, #formulier .formulier_groep{
        width: 800px;
    }
} 

.adoptieform #formulier{
    margin: 0;
    padding-top: 80px;
    padding-bottom: 80px;
    min-height: 70vh;
}

.adoptieform #formulier input, .adoptieform #formulier textarea{
    margin-bottom: 0px;
}

.input-group {
    margin-bottom: 30px;
}

.input-group input{
    margin-top: 10px;
}